:root {
    --bg: #0e121a;
    --box: #272d27;
    --stop: #fb1818;
    --speed: #ff9b30;
    --go: #66ff34;
}

body {
    background-color: var(--bg);
}

.wiring {
    margin-top: 5%;
    justify-content: center;
    height: 10%;
    width: 7%;
    color: var(--box);

}